@tailwind base;
@tailwind components;
@tailwind utilities;


.primary_button:hover {
  box-shadow: 5px 5px #2468ff;
}

.secondary_button:hover {
  box-shadow: 5px 5px #fff;
}

.third_button:hover {
  box-shadow: 5px 5px #000;
}

/* main {
  background-color: #ffffff;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 9px ), repeating-linear-gradient( #e3e4fc55, #e3e4fc );
} */

/* .boom {
background-color: #ffffff;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 9px ), repeating-linear-gradient( #e3e4fc55, #e3e4fc );
} */

